transcripa/Data/Accents.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Letters">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Letter" maxOccurs="unbounded">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Accent" maxOccurs="unbounded">
                <xs:complexType>
                  <xs:attribute name="Old" type="xs:string" use="required" />
                  <xs:attribute name="New" type="xs:string" use="required" />
                </xs:complexType>
              </xs:element>
            </xs:sequence>
            <xs:attribute name="Name" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>